body {
    font-family: Georgia, serif;
    margin:0;
    padding:0;
    background:floralwhite;
    line-height: 1.6;
    color:black;
    
}

.page {
    max-width: 900px;
    margin: auto;
    padding: 1.5rem
}

.header {
    text-align: left;
    margin-bottom: 1.5rem;
}

.header h1 {
    font-size: 2.5rem;
    margin: 0;
    text-align: center;
    display: block;
}

.header .get {
    color:aquamarine;
}

.header .away {
    color:red;
}

.header .tageline {
    font-size: 0.9rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    color:black;
    margin-bottom: 0.5rem;
    
}

.header-image img{
    width: 100%;
    border-radius: 4px;
}

.content {
    float: left;
    width: 65%;
    padding-right: 1.5rem;
    box-sizing: border-box;
}

.content h2 {
    font-size: 2rem;
    margin:0.5rem 0;
}

.subtitle {
    font-size:0.9rem;
    color:black
}

.lead {
    font-weight: bold;
}

.sidebar {
    float: right;
    width: 30%;
    background-color: azure;
    padding: 1rem;
    box-sizing: border-box;
    border-left: 4px solid #c8102e;
    font-size: .9rem;
}

.sidebar h3 {
    color: red;
    font-size: 1rem;
    text-transform: uppercase;
}

.bottom-images {
    clear: both;
    display: flex;
    gap: 1rem;
    margin-top: 2rem;
}

.bottom-images img {
    width: 100%;
    border-radius: 6px;
}

.bottom-images figure {
    flex: 1;
    margin: 0;
}
